<button class="btn social-login-button google" (click)="loginGoogle()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <span>{{ 'Log_in_with_Google' | translate }}</span>
        </span>
    </div>
</button>

<button class="btn social-login-button facebook" (click)="loginFacebook()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span>{{ 'Log_in_with_Facebook' | translate }}</span>
        </span>
    </div>
</button>

<button class="btn social-login-button microsoft" (click)="loginMicrosoft()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-windows" aria-hidden="true"></i>
                    <span>{{ 'Log_in_with_Microsoft' | translate }}</span>
        </span>
    </div>
</button>

<button class="btn social-login-button twitter" (click)="loginTwitter()">
    <div layout="row" layout-align="center center">
        <span>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span>{{ 'Log_in_with_Twitter' | translate }}</span>
        </span>
    </div>
</button>

