.btn {
    padding: 2px 2px;
}

$primary-color: #90A4AE;
$focus-color: rgba(128, 222, 234, 0.5);
$link-color: rgba(0, 0, 0, 0.6);
$link-color-hover: rgba(0, 0, 0, 0.8);
.nav-link {
  color: $link-color;
}

.nav-link:hover {
  color: $link-color-hover;
}

.nav-link.active:hover {
  color: white;
}

.nav-link.active {
  background-color: $primary-color;
  border-radius: 0.1rem;
}

.nav-link:focus {
  box-shadow: $focus-color;
}

.nav-link:hover {
  cursor: pointer;
}
